#fri{
	color:red;
	}

#week{
	background:oldlace
	}

#mon{
	position:relative;
    background: #cc0; /* Цвет фона */
	width:20%;
	position: relative;
	}	

	
#tue {
	position:relative;
    background: #cc0; /* Цвет фона */
	width:20%;
	position: relative;
	}

	
#wed{
	position:relative;
    background: #cc0; /* Цвет фона */
	width:20%;
	}	

#thi{
	position:relative;
    background: #cc0; /* Цвет фона */
	width:20%;
	}	
	
#fri{
	position:relative;
    background: #cc0; /* Цвет фона */
	width:20%;
	}	